.todo-input-wrapper{
    width: 100%;
    margin-bottom: 1rem;
}

.todo-input-wrapper .todo-input{
    display: flex;
    padding-left: 17px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 10px 80px rgb(0, 0, 0, .4);
}

.todo-input{
    background: rgb(37, 39, 60);
}

.todo-input-wrapper .todo-input .add-btn{
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0;
    height: 24px;
    width: 25px;
}

.add-btn{
    border: 1px solid rgb(119, 122, 146);
}

.todo-input-wrapper .todo-input input {
    background: transparent;
    border: none;
    outline: none;
    padding: 23.5px 20px 20.5px;
    width: 100%;
}

.todo-input input{
    color: rgb(202, 205, 232);
}