.todo-container{
    margin: 0;
    padding: 0;
}

.no-todos-message{
    display: flex;
    align-items: center;
    cursor: none;
    justify-content: center;
    min-height: 3rem;
    overflow-wrap: break-word;
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
    width: 100%;
    word-break: break-all;
    font-size: x-small;
    color: rgb(202, 205, 232);
    border-bottom: 2px solid rgb(57, 58, 76);
    background: rgb(37, 39, 60);
}

.h2-no-todo{
    text-align: center;
    width: 100%;
    margin-top: 10rem;
    position: relative;
    color: rgb(202, 205, 232);
}

.h2-no-todo::after{
    content: "Your todos will appear here";
    font-size: 1rem;
    font-weight: 300;
    position: absolute;
    left: 5.3rem;
    top: 120%;
}